{% load static %}
<nav id="menu" class="navbar navbar-light navbar-expand-lg">
    <div class="container">
            <a class="navbar-brand" href="{% if request.user.is_authenticated %} {% url 'zoo:home' %} {% else %} {% url 'zoo:home' %} {% endif %}">
                PROJECT
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu-navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="main-menu-navbar-collapse">
            <ul class="navbar-nav w-100 justify-content-center">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'user:logout' %}" class="nav-link">Cerrar sesión</a>                            
                    </li>
                {% else %}
                    <li class="nav-item {% if request.resolver_match.view_name == 'zoo:home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'zoo:home' %}">Inicio</a>
                    </li>                  
                {% endif %}
            </ul>
      </div>
    </div>
</nav>
