<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Pato</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              ¿Estás seguro que deseas eliminar {% if object is not None %} a {{object.name}} 
              {% else %}
              este animal
              {% endif %}?
          </div>
          <div class="modal-footer">
              <form method="post" id="form-delete">
                  {% csrf_token %}
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" id="btn-delete-confirmation" class="btn btn-danger">Eliminar</button>
              </form>
          </div>
      </div>
  </div>
</div>