<div class="crud-form-fields-wrapper">
    <div class="row">
        {% for field in form %}
            {% if field.name != "password" %}
                <div class="col-12 mb-3">
                    <label for="id_{{field.name}}" class="form-label">{{field.label}}</label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-12 crud-submit-button-wrapper">
            <input type="submit" class="btn btn-primary"
                    value="Guardar">
            {% if record_id %}
                <a class="btn btn-secondary" href="{% url 'user:list' record_id %}">volver</a>
            {% endif %}
        </div>
    </div>
</div>