{% extends "base.html" %}

{% block title %} Inicio del usuario {% endblock %}

{% block content %}
    <div id="regions-create-wrapper" class="template-content-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="row">
                        <h1>Home</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}